/* google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');


/* font-family: 'Source Sans 3', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/* common css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-family: 'Source Sans 3', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    padding: 0;
}

/*  */

.navbar {
    padding: 20px 0;
}

.navbar-nav .nav-item p {
    color:#424242;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.navbar-nav .nav-item p .s1 {
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.navbar-nav .nav-item p i {
    color: #FFB30E;
    font-size: 20px;
    margin: 0 9px 0 12px;
}

.navbar-nav .nav-item p .s2 {
    color:#424242;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}


form .search_area {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

form .search_area i {
    color:#FFB30E;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    margin-right: 8px;
}

form .search_area ul li a {
    color:#424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

form .user a {
    padding: 14px 24px;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
    border: 2px solid #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #FF8A00;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

form .user i {
    margin-right: 10px;
    color: #FFB800;
}

